body {
  max-width: 950px;
  padding: 10px;
  margin: 0 auto;
}

/* header */

.header_total {
  display: flex;
  flex-wrap: wrap;
}

.img_logo {
  width: 83px;
  height: auto;
  order: -1;
  position: absolute;
  margin-top: 10px;
}

.header_title {
  width: 100%;
  margin-right: 0;
  order: 0;
  margin-top: 6px;
}

.name {
  max-width: 100%;
  height: auto;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: right;
}

.nickname {
  width: 100%;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  margin-top: 0;
  text-align: right;
}

.header_total {
  border-bottom: 3px solid #7d97ad;
  max-width: 100%;
}

/*Use flexbox for main*/
.main-content {
  display: flex;
  flex-wrap: wrap;
}

.main-image-container {
  width: 100%;
}

.featured_work {
  order: 0;
  width: 100%;
}

/*Side colors css*/

figcaption {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  color: #6a6c6c;
  margin-top: 0;
}

/*Main image*/
.theme-image {
  width: 100%;
  max-height: 400px;
  margin-top: 10px;
}

/*Featured work*/
.featured_work {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.third_title {
  order: -1;
  width: 100%;
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 30px;
  color: #6a6c6c;
  font-family: "Courier New", Courier, monospace;
}

.featured_image {
  width: 32%;
  margin: 0 0 0 0;
}

.featured_image img {
  width: 100%;
}


figcaption {
  width: 100%;
}

.project-info {
  margin-top: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.75em;
}

h2 {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: "Courier New", Courier, monospace;
}

.featured_fig {
  text-align: center;
}
