body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* header */
header {
  margin-left: 160px;
}

.header_total {
  display: flex;
  flex-wrap: wrap;
}

.img_logo {
  width: 83px;
  height: auto;
  max-width: 100%;
  order: -1;
  position: absolute;
  margin-top: 10px;
}

.header_title {
  width: 100%;
  margin-right: 0;
  order: 0;
  margin-top: 6px;
}

.name {
  max-width: 100%;
  height: auto;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: right;
}

.nickname {
  width: 100%;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  margin-top: 0;
  text-align: right;
}

.header_total {
  border-bottom: 3px solid #7d97ad;
  max-width: 100%;
}

/*Use flexbox for main*/
main {
  display: flex;
  flex-wrap: wrap;
}

.side_colors {
  order: -1;
  width: 20%;
}

.mainImage {
  order: 0;
  width: 80%;
}

.featured_work {
  order: 2;
  width: 100%;
}

/*Side colors css*/

figcaption {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  color: #6a6c6c;
  margin-top: 0;
}

/*Main image*/
.mainCode {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/*Featured work*/
.third_title {
  width: 100%;
  margin-left: 160px;
  margin-bottom: 7px;;
  color: #6a6c6c;
  font-family: "Courier New", Courier, monospace;
}

.featured_work {
  width: 100%;
  margin: auto;
  float: left;
}

.featured_work figure {
  margin-top: 5px;
  float: left;
  max-width: 100%;
  height: auto;
}

.featured_images_left {
  margin-left: 160px;
  margin-right: 0;
}

.featured_images_center {
  margin-left: 17px;
  margin-right: 17px;
}

.featured_images_right {
  margin-left: 0;
  margin-right: 0;
}

.featured_phr {
  margin-top: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.75em;
}

h2 {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: "Courier New", Courier, monospace;
}

.featured_fig {
  text-align: center;
}

a {
  text-decoration: none;
  color: #6a6c6c;
}

a:hover {
  background-color: #02b3e4;
}
